---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hi, I'm Alex.</h1>
      <p>
        I'm a software architect, specializing in scalable web and mobile
        applications. I have spent the last 10+ years in technology startups,
        both as an early engineer and as a technical co-founder.
      </p>
      <p>
        Currently, I'm a Senior Staff Engineer at <a
          href="https://www.fanatics.live"
          target="_blank">Fanatics Live</a
        >, building a best-in-class live shopping experience for sports collectors and fans.
      </p>
      <p>
        In my spare time, I like to build side projects, as a way of scratching
        my curiosity.
      </p>
      <p>
        I also <a href="/blog">write</a> about software engineering related topics.
      </p>
    </main>
    <Footer />
  </body>
</html>
