---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>
        I'm a software architect, specializing in scalable web and mobile
        applications. I have spent the last 10+ years in technology startups,
        both as an early engineer and as a technical co-founder.
      </p>
      <p>
        Currently, I'm a Lead Engineer at <a
          href="https://adimverse.com"
          rel="noopener noreferrer"
          target="_blank">Adim</a
        >, working on a web3 platform that enables creators of all kinds to
        create and own a new generation of IP.
      </p>
      <p>
        Previously, I was a Staff Engineer at <a
          href="https://www.whatnot.com"
          rel="noopener noreferrer"
          target="_blank">Whatnot</a
        >, where I designed and implemented the backend that runs real-time
        auctions <a
          href="https://thinkingelixir.com/podcast-episodes/051-live-auctions-with-alex-loukissas/"
          rel="noopener norefferer"
          target="_blank"
        >
          at scale</a
        >.
      </p>
      <p>
        My first foray into startups was joining <a
          href="https://web.archive.org/web/20140628160659/https://maginatics.com/"
          rel="noopener norefferer"
          target="_blank">Maginatics</a
        > (acquired by Dell/EMC) as one of the first engineers building an enterprise
        cloud file system.
      </p>
      <p>
        In between, I co-founded a couple fintech startups in <a
          href="https://agentrisk.com/">wealth management</a
        > and <a
          href="http://web.archive.org/web/20180319000951/http://easy529.com/"
          rel="noopener norefferer"
          target="_blank">college savings</a
        >. I started my career out of grad school at <a
          href="https://research.cisco.com/"
          rel="noopener norefferer"
          target="_blank">Cisco Research</a
        >, working on cloud computing and storage, connected vehicles,
        software-defined networks, and smart grid.
      </p>
      <p>
        I moved to California in 2006 to attend the Master's program in Computer
        Science at UC San Diego. During my time there, I co-authored a research
        paper on <a href="https://dl.acm.org/citation.cfm?id=1402967"
          >data center network architectures</a
        >, which was recognized with the prestigious <a
          href="https://www.sigcomm.org/awards/test-of-time-paper-award"
          >SIGCOMM Test of Time Award</a
        > in 2018 and laid the foundation for Google's <a
          href="https://ai.google/research/pubs/pub43837"
          >next-generation networking infrastructure</a
        >.
      </p>
      <p>
        In my spare time, I enjoy <s>traveling</s> being a new dad, running, driving
        in the Los Angeles canyons, and working on various side projects. I'm also
        passionate about Krav Maga, which I've practiced since 2014.
      </p>
    </main>
    <Footer />
  </body>
</html>
